<strong>Olá, {{ courierName }}</strong>

<p>Há uma nova encomenda para ser entregue por você:</p>

<p>
  <strong>Recebedor:</strong> {{ recipientName }} <br />
  <strong>Endereço:</strong> {{ street }}, nº {{ number }} <br />
  <strong>CEP:</strong> {{ cep }} <br />
  <strong>Cidade/Estado</strong> {{ city }}/{{ state }} <br />
  <strong>Complemento:</strong> {{ complement }} <br />
</p>